server:
  port: 8083

spring:
  application:
    name: ADMIN-SERVICE   # naam hi pehchaan hai

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
jwt:
  secret: resolvelt-super-secret-key-which-should-be-at-least-32-bytes
  expiration: 864000