server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/auth/**

            - id: complaint-service
              uri: lb://COMPLAINT-SERVICE
              predicates:
                - Path=/complaints/**

            - id: admin-service
              uri: lb://ADMIN-SERVICE
              predicates:
                - Path=/admin/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: resolvelt-super-secret-key-which-should-be-at-least-32-bytes
  expiration: 846000
